html{
	background-color: #fbf2e9;
}

body{
	margin: 0px;
	text-align: center;
}

header{
	text-align: center;
}

header h1{
	margin: 0px;
}

.logo{
	max-width: 250px;
	height: 250px;
}

.search_bar{
	margin: 0 auto;
	padding: 10px 5px;
	background-color: #cf6757;
	border-top: black solid 1px;
	border-bottom: black solid 4px;
}

.search_bar input{
	width: 210px;
}

footer{
	height: 100px;
	width: 100%;
	background-color: #cf6757;
	color: white;
	border-top: black 4px solid;
	text-align: center;
}

.admin_forms{
	padding-top: 15px;
	height: 700px;
	width: 100%;
	text-align: center;
}

#create_form{
	width: 25%;
	height: 620px;
	margin: 10px;
	padding: 15px;
	display: inline-block;
	border: 2px solid #545454;
	text-align: center;
	background-color: #e8d8d4;
	position: absolute;
	left: 4%;
}

#recipes_list{
	width: 60%;
	height: 620px;
	margin: 10px;
	padding: 15px;
	display: inline-block;
	border: 2px solid #545454;
	text-align: center;
	background-color: #ce9b8e;
	color: white;
	position: absolute;
	right: 4%;
}

#modif_form{
	width: 25%;
	height: 620px;
	margin: 40px auto;
	padding: 15px;
	border: #545454 1px solid;
	border-radius: 20px;
	text-align: center;
	background-color: #545454;
	color: white;
}

#create_form form, #modif_form form{
	width: 90%;
}

#create_form *, #modif_form *{
	text-align: center;
	display: inline-block;
}

#create_form label, #modif_form label{
	margin-top: 15px;
	margin-bottom: 4px;
}

#create_form input, #modif_form input{
	width: 70%;
}

#create_form button, #modif_form button{
	margin: 20px;
}

#create_form textarea, #modif_form textarea{
	width: 70%;
	height: 140px;
	resize: none;
}

#create_form input[type=number], #modif_form input[type=number]{
	width: 60px;
}

.form_title{
	width: 100%;
	font-weight: bold;
	font-size: 26px;
	text-align: center;
}

.result_action{
	text-align: center;
	font-weight: bold;
	color: rgb(1, 97, 1);
	font-size: large;
}

.recipes_display{
	margin: auto;
	height: 85%;
	overflow-y: scroll;
	scrollbar-width: thin;
}

.admin_recette{
	height: 160px;
	width: 120px;
	padding: 10px;
	display: inline-block;
	word-wrap: break-word;
}

.logo_manage{
	height: 32px;
	width: 32px;
}

.affichage_recette{
	white-space: pre;
}

.index_recette{
	margin: 20px;
	padding: 5px;
}

.index_recette *{
	margin: 5px;
}

.result_list{
	display: inline;
}

.search_recette_0, .search_recette_1{
	width: 35%;
	padding: 10px;
	margin: auto;
	margin-bottom: 15px;
	border: 2px solid #545454;
}

.search_recette_0 *, .search_recette_1 *{
	margin: 10px;
}

.search_recette_0{
	background-color: #ce9b8e;
}

.search_recette_1{
	background-color: #e8d8d4;
}

.search_title{
	font-size: larger;
	font-weight: bold;
	padding: 10px;
	width: 35%;
	margin: 15px auto;
	border: 2px solid #545454;
}